<nav>
  <!--toggle menu(mobile, 아직 구현 안 됨. i class 가져오는 스크립트 다시 놔야 함)-->
  <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"> </i>
  </a>
  <a href="{{ site.baseurl }}/">Home</a>
  <a href="{{ site.baseurl }}/about">About</a>
  <!-- Navbar-->
  <ul class="hide">
    <li><a class="clear" href="{{ site.baseurl }}/etc">ETC</a></li>
    <li><a class="clear" href="{{ site.baseurl }}/java">Java</a></li>
    <li>
      <a class="clear" href="{{ site.baseurl }}/js">JavaScript</a>
    </li><li>
      <a class="clear" href="{{ site.baseurl }}/category">Category</a>
    </li>
  </ul>
</nav>
