---
layout: default
---

<ul class="posts-list">
  {% assign category = page.category | default: page.title %} {% for post in
  site.categories[category] %}
  <li style="float:none">
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    
      <div class="entry">{{ content }}</div>
    
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{post.excerpt | truncate: 70, '...' }}</a>
    </article>
    
  </li>
  {% endfor %}
</ul>


<!--기존 url-->
<h3>
  <a href="{{ site.baseurl }}{{ post.url }}" > {{ post.title }} </a>
  <!-- <small>{{ post.date | date_to_string }}</small> -->
</h3>